* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  background-color: coral;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.icons_box {
  display: flex;
  height: 150px;
  width: calc(100% / 6);
  background-color: lightgrey;
  border-radius: 5px;
}

.fas {
  font-size: 70px;
}
