* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  background-color: coral;
}

.icons_box {
  height: 150px;
  width: 250px;
  background-color: lightgrey;
  border-radius: 5px;
}
